@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.name {
     flex-direction: row;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    height: 10vh;
    width: 69vh;
    padding-left:50px;
    padding-right:50px;

    background-color: white;
}
.id{
    width: 100wh;
    height: 100wh;

}
.namee{
     flex-direction: row;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    height: 10vh;
    width: 69vh;
    padding-left:50px;
    padding-right:50px;
    
    background-color: black;
}
.body {
    background-color: black;
}
.cell{
    color: cornflowerblue;
    font-size:60px;
    font-family:"Bebas Neue";
}
body {
    padding:0; margin:0; height:100%;
    display:flex;
}
img {
    width:100%;
    height:100vh;
}